In [38]:
stok_dummy_data = [
        {
            'id_stok' : 1,
            'id_kopi' : 1,
            'tanggal_exp' : '2021-08-31 00:00:00',
            'stok' : 100,
            'tanggal_masuk' : '2021-08-31 00:00:00',
        },
        {
            'id_stok' : 2,
            'id_kopi' : 2,
            'tanggal_exp' : '2021-08-31 00:00:00',
            'stok' : 100,
            'tanggal_masuk' : '2021-08-31 00:00:00',
        }
]

kopi_dummy_data = [
    {
        'id_kopi' : 1,
        'nama' : 'Kopi Rizky',
        'harga' : 100000,
        'biaya_produksi' : 100000,
        'stok' : 100,
    },
    {
        'id_kopi' : 2,
        'nama' : 'Kopi Fajar',
        'harga' : 50000,
        'biaya_produksi' : 120000,
        'stok' : 120,
    }
]

In [3]:
import pandas as pd

In [40]:
stok_data = pd.DataFrame(stok_dummy_data)
kopi_data = pd.DataFrame(kopi_dummy_data)

In [17]:
kopi_data

   id_kopi        nama   harga  biaya_produksi  stok
0        1  Kopi Rizky  100000          100000   100
1        2  Kopi Rizky  100000          100000   100

In [42]:
for key,value in stok_data.iterrows():
    # print(value)
    # print(kopi_data[kopi_data['id_kopi'] == value['id_kopi']])
    kopi_now = kopi_data[kopi_data['id_kopi'] == value['id_kopi']]
    nama = kopi_now['nama']
    harga = kopi_now['harga']
    stok = kopi_now['stok']
    print(nama, harga, stok)

0    Kopi Rizky
Name: nama, dtype: object 0    100000
Name: harga, dtype: int64 0    100
Name: stok, dtype: int64
1    Kopi Fajar
Name: nama, dtype: object 1    50000
Name: harga, dtype: int64 1    120
Name: stok, dtype: int64

In [15]:
kasir_dummy_data[nota_header_dummy_data[0]['id_kasir']-1]

{'id_kasir': 1,
 'nama': 'Rizky',
 'password': '123456',
 'status': 1,
 'email': 'rizkyhidayat@gmail.com',
 'isAdmin': 0}

In [16]:
kopi_dummy_data[nota_detail_dummy_data[0]['id_kopi']-1]

{'id_kopi': 1,
 'nama': 'Kopi Arabika',
 'harga': 100000,
 'stok': 100,
 'foto': 'kopi_arabika.jpg',
 'status': 1}

In [18]:
for i in range(1,101,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97
100