In [38]:
stok_dummy_data = [
        {
            'id_stok' : 1,
            'id_kopi' : 1,
            'tanggal_exp' : '2021-08-31 00:00:00',
            'stok' : 100,
            'tanggal_masuk' : '2021-08-31 00:00:00',
        },
        {
            'id_stok' : 2,
            'id_kopi' : 2,
            'tanggal_exp' : '2021-08-31 00:00:00',
            'stok' : 100,
            'tanggal_masuk' : '2021-08-31 00:00:00',
        }
]

kopi_dummy_data = [
    {
        'id_kopi' : 1,
        'nama' : 'Kopi Rizky',
        'harga' : 100000,
        'biaya_produksi' : 100000,
        'stok' : 100,
    },
    {
        'id_kopi' : 2,
        'nama' : 'Kopi Fajar',
        'harga' : 50000,
        'biaya_produksi' : 120000,
        'stok' : 120,
    }
]

In [3]:
import pandas as pd

In [40]:
stok_data = pd.DataFrame(stok_dummy_data)
kopi_data = pd.DataFrame(kopi_dummy_data)

In [17]:
kopi_data

   id_kopi        nama   harga  biaya_produksi  stok
0        1  Kopi Rizky  100000          100000   100
1        2  Kopi Rizky  100000          100000   100

In [42]:
for key,value in stok_data.iterrows():
    # print(value)
    # print(kopi_data[kopi_data['id_kopi'] == value['id_kopi']])
    kopi_now = kopi_data[kopi_data['id_kopi'] == value['id_kopi']]
    nama = kopi_now['nama']
    harga = kopi_now['harga']
    stok = kopi_now['stok']
    print(nama, harga, stok)

0    Kopi Rizky
Name: nama, dtype: object 0    100000
Name: harga, dtype: int64 0    100
Name: stok, dtype: int64
1    Kopi Fajar
Name: nama, dtype: object 1    50000
Name: harga, dtype: int64 1    120
Name: stok, dtype: int64

In [15]:
kasir_dummy_data[nota_header_dummy_data[0]['id_kasir']-1]

{'id_kasir': 1,
 'nama': 'Rizky',
 'password': '123456',
 'status': 1,
 'email': 'rizkyhidayat@gmail.com',
 'isAdmin': 0}

In [16]:
kopi_dummy_data[nota_detail_dummy_data[0]['id_kopi']-1]

{'id_kopi': 1,
 'nama': 'Kopi Arabika',
 'harga': 100000,
 'stok': 100,
 'foto': 'kopi_arabika.jpg',
 'status': 1}

In [18]:
for i in range(1,101,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97
100

In [10]:
from utils.importer import *

In [2]:
listnamasales = getSeriesIdAndNamaSales()
print(listnamasales)

   id_sales     nama
0         1  shamman
1         2    rezki
2         3   akhmal

In [3]:
listnamabarang = getSeriesIdAndNamaKopi()
print(listnamabarang)

  id_kopi     nama
0       1  robusta
1       2   lanang
2      a1  lananga

In [4]:
listnamatoko = getSeriesIdAndNamaToko()
print(listnamatoko)

  id_toko         nama
0       1   dummy_toko
1      a1  dummy_toko2

In [6]:
data = loadNotaHeaderByTime(None, datetime.datetime.now())
print(data)

   id_nota  total  status_nota  id_karyawan  jenis_transaksi namapelangan  \
0        1     10            1            1                0     customer
1  adsasd1     10            1            1                0     customer
2  adsasd1     10            1            1                1     customer
3        3     10            0            1                0     customer
4        4     10            1            1                0     customer
5        4     10            1            1                1     customer
6        1     10            1            1                1     customer

   id_sales           tanggal
0         1   10/1/2024 14:40
1         1   10/1/2024 14:40
2         1   10/1/2024 14:40
3         1   10/1/2024 14:40
4         1   10/1/2024 14:40
5         1   10/1/2024 14:40
6         1  11/02/2024 18:00

In [12]:
def getFullStok(date: datetime.datetime):
    Year = date.strftime("%Y")
    Month = HASHMONTH[int(date.strftime("%m")) - 1]
    Day = date.strftime("%d")
    stokCsv = pd.read_csv(DATAPATH / "Coffee" / Year / Month / "stok.csv")
    return stokCsv
fullstok = getFullStok(datetime.datetime.now())
print(fullstok)

   id_stok  id_kopi tanggal_exp tanggal_masuk   stok
0        1        1   12/8/2021     12/1/2021   2960
1        2        1   12/8/2021     12/1/2021  22548
2        3        2   12/8/2021     12/1/2021      0
3        4        2   12/8/2021     12/1/2021      4
4        5        1   12/8/2021     12/1/2021     14

In [13]:
def getSeriesFullKopi():
    kopiCsv = pd.read_csv(DATAPATH / "Coffee" / "kopi.csv")
    return kopiCsv

fullkopi = getSeriesFullKopi()
print(fullkopi)

  id_kopi     nama  harga  biaya_produksi             foto
0       1  robusta  15000           10000  http://foto.com
1       2   lanang  15000           10000  http://foto.com
2      a1  lananga  15000           10000  http://foto.com

In [15]:
fullkopi[fullkopi['id_kopi'] == '1']

  id_kopi     nama  harga  biaya_produksi             foto
0       1  robusta  15000           10000  http://foto.com

In [19]:
fullstok[fullstok['id_kopi'] == 1]

   id_stok  id_kopi tanggal_exp tanggal_masuk   stok
0        1        1   12/8/2021     12/1/2021   2960
1        2        1   12/8/2021     12/1/2021  22548
4        5        1   12/8/2021     12/1/2021     14

In [22]:
fullstok[fullstok['id_kopi'] == 1]['stok']

0     2960
1    22548
4       14
Name: stok, dtype: int64

In [23]:
def getJoinedStokKopi(df1:pd.DataFrame,df2:pd.DataFrame):
    df1 = df1[['id_kopi', 'stok']]
    df2 = df2[['id_kopi', 'nama']]
    df1["id_kopi"] = df1["id_kopi"].astype(str)
    df2["id_kopi"] = df2["id_kopi"].astype(str)
    df1.set_index("id_kopi",inplace=True)
    df2.set_index("id_kopi",inplace=True)
    joined = df1.join(df2,how="inner",rsuffix="_kopi")
    return joined.reset_index()

joineddata = getJoinedStokKopi(fullstok,fullkopi)
print(joineddata)

  id_kopi   stok     nama
0       1   2960  robusta
1       1  22548  robusta
2       1     14  robusta
3       2      0   lanang
4       2      4   lanang

C:\Users\Windows\AppData\Local\Temp\ipykernel_8828\3724305632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["id_kopi"] = df1["id_kopi"].astype(str)
C:\Users\Windows\AppData\Local\Temp\ipykernel_8828\3724305632.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["id_kopi"] = df2["id_kopi"].astype(str)

In [25]:
joineddata[joineddata['id_kopi'] == '1']['stok'].sum()

25522

In [28]:
from PIL import Image as PILImage

In [44]:
image = r"C:\Users\Windows\Downloads\sullyoon4k.jpg"
topath = f"C:\Coding\Python\Cashier\data\img\coffee"
img = PILImage.open(image)
# img.save(topath + "\\" + "lg-nov2.png")

In [39]:
import shutil

In [45]:
shutil.copy(image, topath + "\\" + "tes.png")

'C:\\Coding\\Python\\Cashier\\data\\img\\coffee\\tes.png'